# Python temporary files
__pycache__/
*.pyc

# Audio files (we don't want to upload large recordings)
*.wav
*.ogg

# Virtual environments
venv/
swadeshi-env/

# Vosk model folder (too large for GitHub)
vosk-model-*/
